@page "/jobs"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

@inject IWebAssemblyHostEnvironment HostEnvironment

<div class="iframe-container">
    <iframe title="Hangfire jobs" src="@HangfireAddress" class="iframe-item"></iframe>
</div>

<style>
    .iframe-container {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        overflow: hidden;
    }

    .iframe-item {
        flex-grow: 1;
        border: none;
        margin: 0;
        padding: 0;
    }
</style>

@code
{
    private string HangfireAddress => HostEnvironment.BaseAddress + "hangfire";
}
