name: publish

on:
  push:
    tags: 
      - '*'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create docker images
        run: |
          docker build . -t huszky/docker-backup:latest -t huszky/docker-backup:${{ github.ref_name }} --build-arg Version=${{github.ref_name}}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push images to docker hub
        run: |
          docker push huszky/docker-backup -a
